ActivityMap_Utils.vcxproj
ActivityMap_Utils.vcxproj.filters
ActivityMap_Utils.vcxproj.user
Debug/ActivityMap_Utils.Build.CppClean.log
Debug/ActivityMap_Utils.lastbuildstate
Debug/ActivityMap_Utils.log
Debug/ActivityMap_Utils.obj
Debug/cl.command.1.tlog
Debug/CL.read.1.tlog
Debug/CL.write.1.tlog
Debug/Lib-link.read.1.tlog
Debug/Lib-link.write.1.tlog
Debug/lib.command.1.tlog
Debug/vc100.idb
Debug/vc100.pdb
